.about>*{
  margin-top: 1em;
}
.fullname{
  font-weight: bold;
}
.nif::before{
  content: 'NIF: '
};
.tel::before{
  content: 'Tel: '
};
.address{
  p{
    line-height:normal;
    margin: 0px;
  }
}
.cae::before{
  content: 'CAEs:';
}

.contacts .address{
  margin-bottom: 1em;
}

.services{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-weight: bold;
  ul{
    border-left: 4px double #EEE;
    font-weight: normal;
    list-style: none;
    padding:0;
    margin:0;
    li { 
      padding-left: 1em; 
      text-indent: -.7em;
      &::before {
        content: "• ";
        color: red;
      }
    }
  } 
}

.contacts{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  body>div.container {
    max-width: 100%;
    width: 95%;
  }
}
@media screen and (min-width: 1920px) {
  body>div.container {
    width: 1824px;
  }
}
@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .about,.contacts{
    max-width: 730px;
    margin: 0 auto;
  }
}

html{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
