<div class="about">
  <p class="fullname">Serprest - Consultoria e Auditoria Informática, Lda</p>
  <p class="nif">506219372</p>
  <div class="address"> 
    <p>Rua Dr. António Luís Gomes, 112, 2º Dt.</p>
    <p>4400-125 Vila Nova de Gaia</p>
  </div>
  <div class="tel">
  (+351) 220 937 086
  </div>
<!--   <div class="cae">
    <ul>
      <li>62020 - Actividades de consultoria em informática</li>
      <li>62030 - Gestão e exploração de equipamento informático</li>  
      <li>47410 - Comércio a retalho de computadores, unidades periféricas e programas informáticos,em estabelecimentos especializados</li>
    </ul>
  </div> -->
  <div class="desc">
    <p>
      Somos uma empresa, com quase 14 anos de atividade, exclusivamente de prestação de serviços, na área das Tecnologias de Informação e Comunicação (TIC).   Ajudamos os nossos clientes em todas as componentes da informática, desde a identificação das necessidades e requisitos, passando pelo projeto, desenvolvimento, implementação, formação, gestão e manutenção das soluções tecnológicas.
    </p>
    <p>
      Como não fornecemos soluções ou equipamentos, ajudamos os nossos clientes, de forma isenta e independente, a fazerem a melhor opção perante a oferta do mercado, participando em todas as fases em que entendam ser útil a nossa colaboração.
    </p>
    <p>
      Temos uma experiência de mais de 20 anos na área das redes de dados e serviços, servidores, sistemas operativos, aplicações web, segurança informática, formação e desenvolvimento de software. Estamos aptos a colocar estas competências, e a larga experiência, ao serviços dos nossos clientes.
    </p>
    <p>
      Estamos sediados na zona Norte de Portugal, mas temos disponibilidade para apoiar os nossos clientes em qualquer parte do globo. Gostamos de viajar e não estamos fixos a nenhuma cidade em particular. Estamos disponíveis para nos deslocarmos a qualquer local onde os nossos clientes precisem da nossa colaboração.
    </p>
  </div>
</div>