<div class="services">
<div class="consultadoria">
    Consultadoria
    <ul>
      <li>Integração de sistemas informáticos</li>
      <li>Automatização de processos</li>
      <li>Concepção, desenvolvimento e implementação de soluções informáticas</li>
      <li>Capacitação dos utilizadores</li>
      <li>Elaboração de procedimentos informáticos</li>
      <li>Informatização de informação</li>
      <li>Avaliações e auditorias de segurança informática</li>
      <li>Diagnóstico de desempenhos de redes</li>
      <li>Estudo de soluções informáticas</li>
      <li>Avaliação técnica de proposta de fornecedores</li>
      <li>Análise de risco</li>
      <li>Segurança dos dados e instalações</li>
      <li>Avaliação de procedimentos</li>
      <li>Procura de soluções</li>
      <li>Formação de Utilizadores no âmbito da implementação de TICs</li>
      <li>Análise de alternativas em soluções cloud.</li>
    </ul>
  </div>
  <div class="desenvolvimento">
    Desenvolvimento de software
    <ul>
      <li>Desenvolvimento de software à medida</li>
      <li>Aplicações móveis</li>
      <li>Alertas</li>
      <li>Análise de dados</li>
      <li>Integração de aplicações</li>
      <li>Consolidação de informação</li>
      <li>Apoio informático ao negócio</li>
      <li>Controlo de custos</li>
      <li>Controlo de utilizadores</li>
      <li>Monitorização de actividade de máquinas e utilizadores</li>
      <li>Gestão de credenciais de acesso</li>
      <li>Gestão de licenças de software</li>
      <li>Gestão do parque informático</li>
    </ul>
  </div>
  <div class="outsourcing">
    Outsourcing
    <ul>
      <li>gestão de redes de computadores</li>
      <li>redes wireless</li>
      <li>gestão de servidores</li>
      <li>End user support</li>
      <li>Segurança informática</li>
    </ul>
  </div>
  <div class="formacao">
    Formação
    <ul>
      <li>Excel avançado</li>
      <li>programação (javascript, angular.js, perl, C++, Java, HTML, CSS, XML, etc)</li>
      <li>windows 10</li>
      <li>linux</li>
    </ul>
  </div>
</div>
